html {
  @apply text-base;
}

body {
  @apply bg-body font-primary font-normal leading-relaxed text-slate-300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary font-bold leading-tight text-slate-900;
  word-spacing: 0.25rem;
  line-height: 2.5rem;
}

p{
  @apply text-slate-600;
  word-spacing: 0.3rem;
  line-height: 2.2rem;
}
p.desc{
  @apply text-slate-600;
  line-height: 1.8rem;
}
h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}
